{% extends "layouts/page-with-back-link.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "macros/meritsDecisionTag.njk" import meritsDecisionTag %}

{% block pageContent %}

<div class="govuk-width-container">

    <p class="govuk-body govuk-!-margin-bottom-2">
        {{ govukTag({
            text: statusTag.text,
            classes: statusTag.classes
        }) }}
    </p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <h1 class="govuk-heading-xl">{{ application.laaReference }}</h1>
        </div>
        {% if application.overallDecision == "GRANTED" %}
            <div class="govuk-grid-column-one-half  govuk-!-padding-top-3">
                <a href="/applications/{{ application.laaReference }}/certificate" class="govuk-link">{{ t('pages.applicationOverview.details.viewCertificate') }}</a>
            </div>
        {% endif %}
        
    </div>
    {% set applicationDetailsHtml %}
        <h2 class="govuk-heading-m">Overview</h2>
        {{ govukSummaryList({
            rows: [
                {
                    key: { text: "Application type" },
                    value: { text: application.applicationType }
                },
                {
                    key: { text: "Certificate type" },
                    value: { text: proceeding.certificateType }
                },
                {
                    key: { text: "Merits application" },
                    value: { html: meritsDecisionTag(application.overallDecision) }
                }
            ]
        }) }}
        <h2 class="govuk-heading-m">Proceeding</h2>
        {{ govukSummaryList({
            card: {
                title: {
                    text: proceeding.proceedingName
                }
            },
            rows: [
                {
                    key: { text: "Client role" },
                    value: { text: proceeding.clientInvolvementType }
                },
                {
                    key: { text: "Level of service" },
                    value: { text: proceeding.levelOfService }
                },
                {
                    key: { text: "Scope limitation" },
                    value: { text: proceeding.scopeLimitationHeading }
                },
                {
                    key: { text: "Cost limit" },
                    value: { text: proceeding.substantiveCostLimitation }
                }
            ]
        }) }}
        <h2 class="govuk-heading-m">Uploaded evidence</h2>
        {{ govukSummaryList({
            card: {
                title: {
                    text: "Supporting evidence"
                }
            },
            rows: [
                {
                    key: { text: "Coroners letter" },
                    value: { html: '<a href="/applications/' ~ application.laaReference ~ '/coroners-letter" rel="noreferrer noopener" target="_blank">' ~ application.coronersLetter.fileName ~ ' (opens in new tab) </a>' }
                }
            ]
        }) }}
        {{ govukButton({
            text: "Make assessment",
            href: "/applications/" ~ application.laaReference ~ "/decision"
        }) }}
    {% endset %}

    {% set peopleHtml %}
        {% set clientRows = [
            {
                key: { text: "First name" },
                value: { text: application.client.clientFirstName }
            },
            {
                key: { text: "Last name" },
                value: { text: application.client.clientLastName }
            },
            {
                key: { text: "Date of birth" },
                value: { text: application.client.dateOfBirth }
            },
            {
                key: { text: "National Insurance number" },
                value: { text: application.client.nationalInsuranceNumber }
            },
            {
                key: { text: "Address" },
                value: { html: clientHomeAddressDisplay }
            },
            {
                key: { text: "Correspondence address" },
                value: { html: clientCorrespondenceAddressDisplay }
            },
            {
                key: { text: "Relationship to deceased" },
                value: { text: application.deceased.clientRelationshipToDeceased }
            }
        ] %}

        {% if careOfRecipientDisplay %}
            {% set clientRows = clientRows.concat([
                {
                    key: { text: "Care of recipient" },
                    value: { html: careOfRecipientDisplay }
                }
            ]) %}
        {% endif %}

        {{ govukSummaryList({
            card: {
                title: {
                    text: "Client"
                }
            },
            rows: clientRows
        }) }}
        {{ govukSummaryList({
            card: {
                title: {
                    text: "Deceased"
                }
            },
            rows: [
                {
                    key: { text: "First name" },
                    value: { text: application.deceased.deceasedFirstName }
                },
                {
                    key: { text: "Last name" },
                    value: { text: application.deceased.deceasedLastName }
                },
                {
                    key: { text: "Date of death" },
                    value: { text: application.deceased.deceasedDateOfDeath }
                },
                {
                    key: { text: "Date of birth" },
                    value: { text: application.deceased.deceasedDateOfBirth }
                },
                {
                    key: { text: "Inquest ID" },
                    value: { text: application.deceased.coronersReference }
                },
                {
                    key: { text: "Additional inquest info" },
                    value: { text: application.deceased.furtherInformation }
                }
            ]
        }) }}
        {{ govukSummaryList({
            card: {
                title: {
                    text: "Provider"
                }
            },
            rows: [
                {
                    key: { text: "Firm name" },
                    value: { text: application.provider.firmName }
                },
                {
                    key: { text: "Account number" },
                    value: { text: application.provider.accountNumber }
                },
                {
                    key: { text: "Address" },
                    value: { text: application.provider.emailAddress }
                }
            ]
        }) }}
        {% set publicBodyRows = [] %}
        {% for body in application.publicBodies %}
            {% set publicBodyRows = publicBodyRows.concat([{ key: { text: body.publicBodyDescription } }]) %}
        {% endfor %}
        {{ govukSummaryList({
            card: {
                title: {
                    text: "Interested parties"
                }
            },
            rows: publicBodyRows
        }) }}
        {{ govukButton({
            text: "Make assessment",
            href: "/applications/" ~ application.laaReference ~ "/decision"
        }) }}
    {% endset %}

    {% set historyHtml %}
        {% if hasHistory %}
            {{ govukTable({
                caption: t('pages.applicationOverview.history.tableCaption'),
                captionClasses: "govuk-visually-hidden",
                head: [
                    { text: t('pages.applicationOverview.history.dateTimeColumn') },
                    { text: t('pages.applicationOverview.history.whoColumn') },
                    { text: t('pages.applicationOverview.history.updateColumn') }
                ],
                rows: historyRows
            }) }}
        {% else %}
            <p class="govuk-body">{{ t('pages.applicationOverview.history.noHistory') }}</p>
        {% endif %}
    {% endset %}

    {{ govukTabs({
        items: [
            {
                label: "Application details",
                id: "application-details",
                panel: { html: applicationDetailsHtml }
            },
            {
                label: "People",
                id: "people",
                panel: { html: peopleHtml }
            },
            {
                label: "History",
                id: "history",
                panel: { html: historyHtml }
            }
        ]
    }) }}

</div>

{% endblock %}